@import "https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css";
#map {
    /* Need to set map width and height explicitly */
    height: 80vh;
    width: 40vw;
}

span.map {
    display: inline-block;
    margin-inline: 10px;
}

span table {
    display: inline-block;
    margin-inline: 10px;
}

table {
    height: 80vh;
    width: 56vw;
    overflow: auto;
}