@import "https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css";
#map {
    /* Need to set map width and height explicitly */
    height: 80vh;
}

span table {
    display: inline-block;
}

.table_wrapper {
    /* You need to set a width for overflow to be shown.*/
    /* This value is a hack:
    in desktop mode, bulma makes the parent column elementof  the table 50% of the viewport size
    this setting makes the element try to expand out of it's box
    this fails, so a scroll bar is shown */
    width: 100%;
    overflow: auto;    
    height: 81vh;
}